In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
from matplotlib import cm
import pandas as pd
import numpy as np
import random

# File to Load (Remember to change these)
project_data_to_load = "Resources/Project_Data.csv"
project_data2_to_load = "./Resources/Project_Data_2.csv"

# Read the City and Ride Data

project_data_1 = pd.read_csv(project_data_to_load)
project_data_2 = pd.read_csv(project_data2_to_load)

# project_data_1.head()
project_data_2.head()

# Combine the data into a single dataset
Combined_Data = pd.concat([project_data_1, project_data_2], axis=0)


Combined_Data.head()

,Region,accountid,locationid,Industry,BusinessDate,machineid,ProductID,ChoicePlusInd,SKU,MerchandiseCat,UnitPrice,Sales
0,Central,2152,12622,Healthcare/Hospitals,3/1/2019 0:00,2394005,105,0,5193,Soda,1.75,13
1,Central,2152,12622,Healthcare/Hospitals,3/1/2019 0:00,2394005,108,0,5197,Soda,1.75,20
2,Central,2152,12622,Healthcare/Hospitals,3/1/2019 0:00,2394005,110,1,5204,Diet Soda,1.75,4
3,Central,2152,12622,Healthcare/Hospitals,3/1/2019 0:00,2394005,111,1,5206,Diet Soda,1.75,11
4,Central,2152,12622,Healthcare/Hospitals,3/1/2019 0:00,2394005,113,1,5207,Diet Soda,1.75,4

In [4]:
Combined_Data.shape

(1491198, 12)

In [5]:
Combined_Data.count()

Region            1491198
accountid         1491198
locationid        1491198
Industry          1491198
BusinessDate      1491198
machineid         1491198
ProductID         1491198
ChoicePlusInd     1491198
SKU               1491198
MerchandiseCat    1490972
UnitPrice         1491198
Sales             1491198
dtype: int64

In [6]:
Combined_Data.dtypes

Region             object
accountid           int64
locationid          int64
Industry           object
BusinessDate       object
machineid           int64
ProductID           int64
ChoicePlusInd       int64
SKU                 int64
MerchandiseCat     object
UnitPrice         float64
Sales               int64
dtype: object

In [7]:
# check data types of dataframe

# Combined_Data =  Combined_Data['ChoicePlusInd'].apply(str)

Combined_Data['ChoicePlusInd'] = Combined_Data['ChoicePlusInd'].apply(str)
# Combined_Data["Sales"] = Combined_Data["Sales"].map("${:.2f}".format) 

Combined_Data.head()

,Region,accountid,locationid,Industry,BusinessDate,machineid,ProductID,ChoicePlusInd,SKU,MerchandiseCat,UnitPrice,Sales
0,Central,2152,12622,Healthcare/Hospitals,3/1/2019 0:00,2394005,105,0,5193,Soda,1.75,13
1,Central,2152,12622,Healthcare/Hospitals,3/1/2019 0:00,2394005,108,0,5197,Soda,1.75,20
2,Central,2152,12622,Healthcare/Hospitals,3/1/2019 0:00,2394005,110,1,5204,Diet Soda,1.75,4
3,Central,2152,12622,Healthcare/Hospitals,3/1/2019 0:00,2394005,111,1,5206,Diet Soda,1.75,11
4,Central,2152,12622,Healthcare/Hospitals,3/1/2019 0:00,2394005,113,1,5207,Diet Soda,1.75,4

In [8]:
Combined_Data.columns

Index(['Region', 'accountid', 'locationid', 'Industry', 'BusinessDate',
       'machineid', 'ProductID', 'ChoicePlusInd', 'SKU', 'MerchandiseCat',
       'UnitPrice', 'Sales'],
      dtype='object')

In [9]:
# Total Sales

Total_Sales = Combined_Data["Sales"].sum()
# Total_Sales["Sales"] = Total_Sales["Sales"].map("${:.2f}".format) 
Total_Sales

5783311

In [10]:
UniqueProducts = len(Combined_Data['ProductID'].unique())

UniqueProducts

2788

In [11]:
UniqueMerchandiseCat = len(Combined_Data['MerchandiseCat'].unique())

UniqueMerchandiseCat

27

In [12]:
UniqueIndustryList = Combined_Data['Industry'].unique()

UniqueIndustryList

array(['Healthcare/Hospitals',
       'Office - Clerical (Data Processing, Call Ctr)', 'Motel/Hotel',
       'Distribution Centers ( UPS, FED Ex, Grocery, Mail, Pick and Pack)',
       'Retail Store - (Blue Collar - Lowes, Home Depot, Target,Walmart)',
       'Not Selected', 'Food Processing, Production',
       'Higher Education - Colleges, Universities (Greater Than 50% Commuter)',
       'Light Manufacturing / Assembly  ( High Tech Fab, Small Component Assembly)',
       "Retail Store - (White Collar - Best Buy,Macy's, Belk, Kohl's, Sears)",
       'Office Professional - Law, Corp, High Tech',
       'Higher Education - Colleges, Universities (Less Than 50% Commuter)',
       'Nursing Homes, Retirement Centers, Rehabilitation',
       'Amusement, Family Entertainment, Sports Centers (YMCA)',
       'Transportation Trucking (Roadway, Yellow, etc.)',
       'Healthcare - Outpatient / MOB', 'School 9-12',
       'Public Transportation Locations (Air, Bus, Rail)',
       'Heavy Manufacturing - Steel, Textiles, Plastics, Forest Products, etc.',
       'School K-8', 'Corrections', 'Military', 'School K-12',
       'Corrections - Inmate'], dtype=object)

In [13]:
UniqueMerchandiseCatList = Combined_Data['MerchandiseCat'].unique()

UniqueMerchandiseCatList

array(['Soda', 'Diet Soda', 'Water', 'Juice', 'Hydration / Sports',
       'Vitamin Enhanced', 'Energy', 'Nutrition Bar', 'Candy',
       'Salty Snacks', 'Pastry', 'Cookies', 'Meat Sticks', 'Crackers',
       'Tea', 'Rtd Coffee', 'Nuts/Trailmix', 'Sundry', 'Gum / Mints',
       'Flavored Noncarb', 'Soda Can', 'Diet Soda Can', 'Food', 'Milk',
       'New Age Beverage', nan, 'Ice Cream'], dtype=object)

In [14]:
UniqueMachines = len(Combined_Data['machineid'].unique())

UniqueMachines

43261

In [15]:
# Unique industries

# UniqueIndustries = pd.DataFrame(Combined_Data.groupby(['Industry'])['Industry'].nunique())

UniqueIndustries = len(Combined_Data['Industry'].unique())

UniqueIndustries

24

In [16]:
UniqueRegions = len(Combined_Data['Region'].unique())
UniqueAccounts = len(Combined_Data['accountid'].unique())
UniqueLocations = len(Combined_Data['locationid'].unique())


# # Place all of the data found into a summary DataFrame
summary_table = pd.DataFrame({"Regions": UniqueRegions,
                              "Accounts": [UniqueAccounts],
                              "Locations": [UniqueLocations],
                              "Industries": [UniqueIndustries],
                              "Machines": UniqueMachines,
                              "Products": UniqueProducts,
                              "Merchandise Categories": UniqueMerchandiseCat,
                              "Total Sales": Total_Sales})

summary_table["Total Sales"] = summary_table["Total Sales"].map("${:,.2f}".format) 

summary_table

,Regions,Accounts,Locations,Industries,Machines,Products,Merchandise Categories,Total Sales
0,6,10587,24492,24,43261,2788,27,"$5,783,311.00"